# Go build output
pomo
*.exe
*.out
*.test
pomo*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# DB files (local use only)
*.db

# Config (nur Beispiel rein, echte Datei ignorieren)
config.json

# Logs (falls du später Logging machst)
*.log
